.user-list {
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 2px solid orangered;
  background-color: #f6f6f6;

  border-radius: 10px;
  padding: 40px;
  margin-top: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

h2 {
  display: flex;
  justify-content: center;
}

.table-header th {
  padding: 10px;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

small {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
