@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.App {
  background: radial-gradient(#ffffff, #ffefba);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
